#clockcontainer{
    position: relative;
    
    margin:10px auto;
    height:50vw;
    width:50vw;
    background-color: rgb(255, 0, 0);
    background: url(clock.png) no-repeat;
    background-size: 100%;
}
#hour, #minute, #second{
    position:absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;

}
#hour{
    width: 1.8%;
    height: 24%;
    top: 24%;
    left: 49.66%;
    opacity: 0.8;
    background-color: red;
    
}
#minute{
    width: 1.6%;
    height: 30%;
    top: 18%;
    left: 49.66%;
    opacity: 0.8;
    background-color: orange;
  
}
#second{
    width: 1.4%;
    height: 38%;
    top: 11%;
    left: 49.66%;
    opacity: 0.8;
    background-color: yellow;
    
}